<h1>Créditos</h1>

<p>
    Alberto Marqués Alba	
</p>

<p>
  El proyecto se encuentra alojado en el siguiente repositorio:
  <a href="https://github.com/albertom93/quiz_2017">Repositorio</a>

</p>

<img src="/images/alberto.jpg" />

